.scrolling-text-container {
    overflow: hidden;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: marquee linear infinite;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
        /* Start from the left edge */
    }

    100% {
        transform: translateX(-50%);
        /* Scroll to the left by half of the container's width */
    }
}

.scrolling-text-joy {
    background: linear-gradient(180deg, red, rgba(255, 220, 96, 0.88));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}